# Environment files
.env


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo


# VSCode settings
.vscode/


# Virtual environments
venv/
.env/


# Mac / Windows system files
.DS_Store
Thumbs.db